<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
  <body>
    <h1>{{ restaurant.name }}</h1>

    <!-- Message Flashing -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <a href='{{ url_for('newMenuItem', restaurant_id = restaurant.id)  }}'>
    Create New Item
    </a>
    </br>
    </br>
    {% for i in items %}

    {{ i.name }}
    </br>

    {{ i.description }}
    </br>

    {{ i.price  }}
    </br>
    <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Edit</a>
    </br>
    <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Delete</a>
    </br>
    </br>

    {% endfor %}

    </body>
</html>
